@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
.descripciondrogueria{

    text-align: justify;
}

.titulo{
  font-family: "Spicy Rice", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 33px;

    padding-top: 1%;
    text-align: center;
}